*{
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    
}
body{
    padding: 0px;
    margin: 0px;
    height:100vh;
    width: 100%;
    background-color: #f6f6f2;
}
a{
    margin-right: 20px;
    text-decoration: none;
}


input{
    width: 100%;
    height: 38px;
    padding: 10px;
    border: 1px solid #ecedec;
    border-radius: 5px;
}
select{
    width: 250px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #E5E5E5;
    padding: 5px;
    
}
#app{
    display: flex;
    flex-wrap: wrap;
}

.nav-bar{
    height: 60px;
    width: 100%;
    background-color: #388087;
}


.location-select{
    margin-top: 35px;
}
.input-search{
    margin-top: 35px;
}
.input-search input {
    width: 50%;
}
.employee-list{
    width: 50%;
    height: 70vh;

    border: 1px dashed #E5E5E5;
}

/* register page */

.register-container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    background: url('../DesManHinh/which-industries-are-filling-jobs-main-image.jpg') center center no-repeat;
    background-size: cover ;   
}

.form-register{
    background: #ffffff;
    width: 500px;
}

.form-header h3 {
    padding: 50px 30px;
    font-weight: 400px;
    font-size: 38px;
    text-align: center;
}

.form-content{
    padding: 0px 50px;
}

.form-content>*{
    margin-bottom: 10px;
}

.name-wrapper{
    display: flex;
    justify-content: space-between;
}

.name-wrapper>*{
    width: calc(50% - 5px);
}

.form-footer{
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
}



.dob-gender-wrapper{
    display: flex;
    justify-content: space-between;
}

#dob-wrapper{
    display: flex;
    justify-content: flex-start;
}

#dob-wrapper>*{
    margin-right: 5px;
    align-self: center;
}

.dob-input{
    width: 200px;
}

#gender{
    width: 70px;
}

.city-district-wrapper{
    display: flex;
    justify-content: space-between;
}

#city{
    width: 120px;
}

#district{
    width: 120px;
}

.job-wrapper{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.job-wrapper>*{
    width: 120px;
}

#register-submit-btn{
    width: 120px;
    height: 38px;
    padding: 10px;
    color: #ffffff;
    background:#4482ff;
    border-radius: 5px;
    border: none;
}


/* welcome page */


.main-register {
    height: calc(100vh - 100px);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-flow: wrap row;
}

.register-btn-wrapper{
    width : 380px;
    height: 200px;
    border: 1px solid #c2edce;
    text-align: center;
    background-color: #FFFFF9;
}
.register-content{
    line-height: 120px;
    width : 100%;
}
.register-btn{
    width: 100%;
    line-height: 80px;
    background-color: #6fb3b8;
}
#already-have-account-btn{
    position: absolute;
    align-self: center;
    height: 30px;
    width: 500px;
    top: 550px;
    left: calc(50% - 250px);
    background: #F9D6D6;
    border-radius: 5px;
}

#footer{
    height: 40px;
    width: 100%;
    background: #F9D6D6;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#footer>*{
    margin-left: 10px;
}

/* login page */

.login-container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    background: url('../DesManHinh/jobjob.jpg') center center no-repeat;
    background-size: cover ;
    
}

.form-login{
    background: #ffffff;
    width: 500px;
}

#login-submit-btn{
    width: 120px;
    height: 38px;
    padding: 10px;
    color: #ffffff;
    background:#4482ff;
    border-radius: 5px;
    border: none;
}

/* jobseeker page */



#aside-left{
    width: 20%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: #f6f6f2;
    border-right: #E5E5E5;
}

#avatar-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    border-bottom: solid #0F2557 1px;
}
.infor-inline-wrapper{
    
}

#avatar{
    width: 50%;
    align-self: center;
}
#infor-user-basic>*{
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 2px solid #1181B2;
}



#aside-right{
    width: 80%;
    display: flex;
    align-items: center;
    flex-direction: column ;
}
#menu-btn {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    background-color: #388087;
    width: 100%;
    /* box-shadow: #1181B2 0px 10px 0 0; */

}
.tab {
    width: 80%;
    height: 60px;
    background-color: #388087;
    cursor: pointer;   
    text-align: center;
    color: white;
    flex-basis: 300px;

}

/* .tab:hover {
    background-color: red;
    opacity: 0.5;
} */

.tab >*{
   line-height: 60px;
   
}
.tab.active {
    background-color: #f6f6f2 ;
    /* border-radius: 10px 10px 0 0; */
    color:#388087;
}
#main-content{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;

}

#search-bar-filter-container{
    width: 100%;
    height: 100px;
    display: flex;
    padding: 20px;
    align-items: center;
    flex-wrap: wrap;
    flex-basis: 200px;
}

#search-bar{
    width: 350px;
}

#filter-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#filter-container>*{
    margin-right: 20px;
}

#tags-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#tags-container span{
    margin-right: 20px;
}

.list-container{
    /* background: #5CA2CC; */
    height: 70vh;
    width: 80%;
    border-radius: 10px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    

}

.detail-wrapper{
    height: auto;
    width: 900px;
    background: #ffffff;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

.detail-inline-wrapper{
    margin-top: 5px;
}


/* profile employee */
#profile-container{
    background: #C4C4C4;
    width: 1000px;
    height: 500px;
    align-self: center;
    margin-top: 50px;
    border-radius: 10px;
}

#profile-container button{
    margin-right: 50px;
    margin-top: 10px;
    float: right;
    height: 30px;
    width: 120px;
    border: none;
}

#personal-info{
    display: flex;
    justify-content: space-around;
    height: 200px;
    margin-bottom: 30px;
}

#personal-left{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 600px;
    margin-left: 30px;
}

#personal-right{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 600px;

}

#description{
    display: flex;
    justify-content: space-around;
}

#description span{
    margin-top: 20px;
}

#self-description{
    height: 200px;
    width: 700px;
    background: #ffffff;
    border-radius: 10px;
    padding: 20px;
}

.profile-line{
    display: inline;
}

/* employer profile */
#employer-personal-info{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    height: 300px;
    padding: 50px;
}

#employer-profile-container{
    background: #C4C4C4;
    width: 1000px;
    height: 500px;
    align-self: center;
    margin-top: 50px;
    border-radius: 10px;
}

#employer-profile-container button{
    margin-right: 50px;
    margin-top: 10px;
    float: right;
    height: 30px;
    width: 120px;
    border: none;
}

/* posted jobs */



/* pop up choose job */
#choose-job-list-container{
    background: #F6EAEA;
    height: 450px;
    width: 1000px;
    align-self: center;
    border-radius: 10px;
    overflow-y: scroll;
    text-align: center;
}





