*{
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    
}
body{
    padding: 0px;
    margin: 0px;
    height:100vh;
    width: 100%;
}
a{
    margin-right: 20px;
    text-decoration: none;
}


input{
    width: 100%;
    height: 38px;
    padding: 10px;
    border: 1px solid #ecedec;
    border-radius: 5px;
}
select{
    width: 250px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #E5E5E5;
    padding: 5px;
    
}


.nav-bar{
    height: 60px;
    width: 100%;
    background: #E5E5E5;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
}
.menu-select{
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
}
.select-btn{
    width: 200px;
    height: 40px;
    border-radius: 5px;
    background-color:#5DB6DC;
    text-align: center;
}
.select-btn > *{
    line-height: 40px;
}
.select-btn.active{
    box-shadow: 0px 10px 6px rgba(0, 0, 0, 0.25);
}



.main{
    width: 85%;
    text-align: center;
    margin: auto;
}
.location-select{
    margin-top: 35px;
}
.input-search{
    margin-top: 35px;
}
.input-search input {
    width: 50%;
}
.employee-list{
    width: 50%;
    height: 70vh;

    border: 1px dashed #E5E5E5;
}

/* register page */

.register-container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    background: url('../DesManHinh/which-industries-are-filling-jobs-main-image.jpg') center center no-repeat;
    background-size: cover ;   
}

.form-register{
    background: #ffffff;
    width: 500px;
}

.form-header h3 {
    padding: 50px 30px;
    font-weight: 400px;
    font-size: 38px;
    text-align: center;
}

.form-content{
    padding: 0px 50px;
}

.form-content>*{
    margin-bottom: 10px;
}

.name-wrapper{
    display: flex;
    justify-content: space-between;
}

.name-wrapper>*{
    width: calc(50% - 5px);
}

.form-footer{
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
}



.dob-gender-wrapper{
    display: flex;
    justify-content: space-between;
}

#dob-wrapper{
    display: flex;
    justify-content: flex-start;
}

#dob-wrapper>*{
    margin-right: 5px;
    align-self: center;
}

.dob-input{
    width: 200px;
}

#gender{
    width: 70px;
}

.city-district-wrapper{
    display: flex;
    justify-content: space-between;
}

#city{
    width: 120px;
}

#district{
    width: 120px;
}

.job-wrapper{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.job-wrapper>*{
    width: 120px;
}

#register-submit-btn{
    width: 120px;
    height: 38px;
    padding: 10px;
    color: #ffffff;
    background:#4482ff;
    border-radius: 5px;
    border: none;
}


/* welcome page */

#header{
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background: #1F2C52;
    color: white;
}

#header-left{
    padding: 10px;
    align-self: center;
}

#header-left>*{
    font-family: 'Cairo', sans-serif;
    font-size: 20px;
    font-weight: 900;
}

#header-right{
    align-self: center;
    display: flex;
    justify-content: flex-end;
}



#content{
    /* background: url('../DesManHinh/jobsss.jpg'); */
    background-size: cover;
    height: calc(100vh - 100px);
}

#option-wrapper{
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: wrap row;
    justify-content: space-evenly;
    
}
.sign-up-btn {
    height: 300px;
    flex-basis: 500px;
    border-radius: 10px;
    font-size: 36px;
    opacity: 20%;
    border: 1px solid #e5e5e5e5;
    cursor: pointer;
    margin-top: 100px;
    

}
#job-seeker-sign-up-btn{
    background: #39E755;
}

#employer-sign-up-btn{
    background: #2C40F2;
}

#already-have-account-btn{
    position: absolute;
    align-self: center;
    height: 30px;
    width: 500px;
    top: 550px;
    left: calc(50% - 250px);
    background: #F9D6D6;
    border-radius: 5px;
}

#footer{
    height: 40px;
    width: 100%;
    background: #F9D6D6;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#footer>*{
    margin-left: 10px;
}

/* login page */

.login-container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    background: url('../DesManHinh/jobjob.jpg') center center no-repeat;
    background-size: cover ;
    
}

.form-login{
    background: #ffffff;
    width: 500px;
}

#login-submit-btn{
    width: 120px;
    height: 38px;
    padding: 10px;
    color: #ffffff;
    background:#4482ff;
    border-radius: 5px;
    border: none;
}

/* jobseeker page */

#control-bar-main-content-container{
    display: flex;
    justify-content: flex-start;
}

#control-bar{
    width: 20%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #F6EAEA;
    border-right: solid black 1px;
}

#avatar-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    border-bottom: solid black 1px;
}

#avatar{
    width: 50%;
    align-self: center;
}
#infor-user-basic>*{
    margin-bottom: 10px;
}


.tab {
    width: 80%;
    height: 60px;
    background-color: red;
    cursor: pointer;   
    text-align: center;
    color: white;
}
.tab >*{
   line-height: 60px;
    
}
.tab.active {
    box-shadow: #E5E5E5 ;
}
#main-wrapper{
    width: 80%;
    display: flex;
    flex-direction: column;
}
#menu-btn {
    display: flex;

}

#main-content{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

}

#search-bar-filter-container{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

#search-bar{
    width: 350px;
}

#filter-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#filter-container>*{
    margin-right: 20px;
}

#tags-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#tags-container span{
    margin-right: 20px;
}

#jobs-list-container{
    background: #F6EAEA;
    height: 450px;
    width: 1000px;
    text-align: center;
    border-radius: 10px;
    overflow-y: scroll;
    align-self: center;

}

.job-detail-container{
    height: 150px;
    width: 900px;
    background: #ffffff;
    border-radius: 5px;
    margin-top: 30px;
    margin-bottom: 30px;
    display: inline-block;
}

.job-detail-container-2{
    display: flex;
    justify-content: space-between;
    height: 100%;
    padding: 20px;
}

.job-detail-container button{
    height: 40px;
    width: 120px;
    align-self: center;
    border-radius: 5px;
    border: none;
}

.job-detail-left{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.job-detail-center{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 500px;
}

.job-detail-center>*{
    text-align: left;
}    

.job-detail{
    display: inline;
}

/* profile employee */
#profile-container{
    background: #C4C4C4;
    width: 1000px;
    height: 500px;
    align-self: center;
    margin-top: 50px;
    border-radius: 10px;
}

#profile-container button{
    margin-right: 50px;
    margin-top: 10px;
    float: right;
    height: 30px;
    width: 120px;
    border: none;
}

#personal-info{
    display: flex;
    justify-content: space-around;
    height: 200px;
    margin-bottom: 30px;
}

#personal-left{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 600px;
    margin-left: 30px;
}

#personal-right{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 600px;

}

#description{
    display: flex;
    justify-content: space-around;
}

#description span{
    margin-top: 20px;
}

#self-description{
    height: 200px;
    width: 700px;
    background: #ffffff;
    border-radius: 10px;
    padding: 20px;
}

.profile-line{
    display: inline;
}

/* applied job page */

#applied-jobs-header{
    padding: 20px;
}
#applied-jobs-list-container{
    background: #F6EAEA;
    height: 500px;
    width: 1000px;
    align-self: center;
    border-radius: 10px;
    overflow-y: scroll;
    text-align: center;
}

.applied-job-detail-container{
    height: 150px;
    width: 900px;
    background: #ffffff;
    border-radius: 5px;
    margin-top: 30px;
    margin-bottom: 30px;
    display: inline-block;
}

.applied-job-detail-container-2{
    display: flex;
    justify-content: space-between;
    height: 100%;
    padding: 20px;
}

.applied-job-detail-left{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.applied-job-detail-center{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 500px;
}

.applied-job-detail-center>*{
    text-align: left;
}  

.cancel-applied-job-btn{
    height: 40px;
    width: 120px;
    align-self: center;
    border-radius: 5px;
    border: none;
}

/* employer profile */
#employer-personal-info{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    height: 300px;
    padding: 50px;
}

#employer-profile-container{
    background: #C4C4C4;
    width: 1000px;
    height: 500px;
    align-self: center;
    margin-top: 50px;
    border-radius: 10px;
}

#employer-profile-container button{
    margin-right: 50px;
    margin-top: 10px;
    float: right;
    height: 30px;
    width: 120px;
    border: none;
}

/* posted jobs */
#posted-jobs-header{
    padding: 20px;
}
#posted-jobs-list-container{
    background: #F6EAEA;
    height: 500px;
    width: 1000px;
    align-self: center;
    border-radius: 10px;
    overflow-y: scroll;
    text-align: center;
}

.posted-job-detail-container{
    height: 150px;
    width: 900px;
    background: #ffffff;
    border-radius: 5px;
    margin-top: 30px;
    margin-bottom: 30px;
    display: inline-block;
}

.posted-job-detail-container-2{
    display: flex;
    justify-content: space-between;
    height: 100%;
    padding: 20px;
}

.posted-job-detail-left{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.posted-job-detail-center{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 500px;
}

.posted-job-detail-center>*{
    text-align: left;
}  

.cancel-posted-job-btn{
    height: 40px;
    width: 120px;
    align-self: center;
    border-radius: 5px;
    border: none;
}

/* list employees */

#employees-list-container{
    background: #F6EAEA;
    height: 450px;
    width: 1000px;
    align-self: center;
    border-radius: 10px;
    overflow-y: scroll;
    text-align: center;
}

.employees-detail-container{
    height: 150px;
    width: 900px;
    background: #ffffff;
    border-radius: 5px;
    margin-top: 30px;
    margin-bottom: 30px;
    display: inline-block;
}

.employees-detail-container-2{
    display: flex;
    justify-content: space-between;
    height: 100%;
    padding: 20px;
}

.employees-detail-left{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 400px;

}

.employees-detail-center{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 400px;
}

.employees-detail-center>*{
    text-align: left;
}  

.personal-info-detail{
    display: inline;
}

.personal-info-wrapper{
    text-align: left;
}

.choose-employee-btn{
    height: 40px;
    width: 120px;
    align-self: center;
    border-radius: 5px;
    border: none;
}
 