*{
    font-size: 14px;
    font-family: Roboto, Helvetica, 'Helvetica Neue', Arial, sans-serif;
    box-sizing: border-box;  
}

body{
    padding: 0px;
    margin: 0px;
    height:100vh;
    width: 100%;
}

#header{
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background: #F9D6D6;
}

#header-left{
    padding: 10px;
    align-self: center;
}

#header-left>*{
    font-family: 'Cairo', sans-serif;
    font-size: 20px;
    font-weight: 900;
}

#header-right{
    align-self: center;
    display: flex;
    justify-content: flex-end;
}

a{
    margin-right: 20px;
    text-decoration: none;
}

#content{
    background: url('../DesManHinh/jobsss.jpg');
    background-size: cover;
    height: calc(100vh - 100px);
}

#option-wrapper{
    height: 100%; 
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    /* display: inline-block; */
    
}
.sign-up-btn {
    height: 300px;
    width: 500px;
    border-radius: 10px;
    font-size: 36px;
    opacity: 20%;
    border: 1px solid #e5e5e5e5;
    cursor: pointer;
    float: left;
    margin-top: 100px;
    margin-left
    
    


}
#job-seeker-sign-up-btn{
    background: #39E755;
}

#employer-sign-up-btn{
    background: #2C40F2;
}

#already-have-account-btn{
    position: absolute;
    align-self: center;
    height: 30px;
    width: 500px;
    top: 550px;
    left: calc(50% - 250px);
    background: #F9D6D6;
    border-radius: 5px;
}

#footer{
    height: 40px;
    width: 100%;
    background: #F9D6D6;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#footer>*{
    margin-left: 10px;
}